{% extends 'employee_register/base.html' %}
{% comment %} {% load crispy_forms_tags %} {% endcomment %}
{% block content %}
    <form method="post" action="" autocomplete="off">
    {% csrf_token %}
        <table class="table table-borderless">
            <tbody>
             <tr>
                
                    <td>
                        <div class="mb-3">
                            <label  class="form-label">Full Name</label>
                                {{form.fullname}}
                            
                        </div>
                    </td>
            </tr>

            <tr>   
                <td>
                            <div class="mb-3">
                            <label class="form-label">Mobile</label>
                            {{form.mobile}}
                        </div>
                    </td>
            </tr>

            <tr>
                <td>
                    <div class="mb-3">
                            <label  class="form-label">Emp code</label>
                            {{form.emp_code}}
                        </div>
                </td>

            </tr>
            <tr>
                <td>
                    <div class="mb-3">
                                <label  class="form-label">Position</label>
                                {{form.position}}
                            </div>
                </td>
            </tr>
     
            
            </tbody>
        </table>

        
        <div class="row">
            <div class="col-md-8">
                <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fa fa-database" aria-hidden="true"></i>
                        Submit</button>
            </div>
            <div class="col-md-4">
                <a href="{% url 'employee_list' %}" class="btn btn-secondary btn-block btn-lg">
                    <i class="fas fa-stream"></i>Back to list
                </a>
            </div>
        </div>
    </form>
{% endblock content %}
    
